# Python
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

# Virtual environments
.venv/

# Environment variables (actual values)
.env.local
.env.compose

# IDE
.idea/
.vscode/
*.swp

# Data
data/
